body {
  background-color: #111;
  font-family: Aktivgrotesk, sans-serif;
  color: #fff;
  font-size: 18px;
  line-height: 1.5;
}

h1 {
  margin-top: 0px;
  margin-bottom: 24px;
  font-family: Gtsectrafine, 'Times New Roman', sans-serif;
  color: #fff;
  font-size: 64px;
  line-height: 125%;
  font-weight: 700;
}

h2 {
  margin-top: 0px;
  margin-bottom: 40px;
  font-family: Aktivgrotesk, sans-serif;
  color: #7b7b7b;
  font-size: 24px;
  line-height: 2;
  font-weight: 400;
}

h3 {
  margin-top: 0px;
  margin-bottom: 24px;
  font-family: Gtsectrafine, 'Times New Roman', sans-serif;
  color: #111;
  font-size: 64px;
  line-height: 150%;
  font-weight: 900;
  text-align: left;
}

h4 {
  margin-top: 0px;
  margin-bottom: 24px;
  font-family: Gtsectrafine, 'Times New Roman', sans-serif;
  color: #111;
  font-size: 36px;
  line-height: 150%;
  font-weight: 900;
}

h5 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
}

p {
  max-width: 680px;
  margin-bottom: 0px;
  font-family: Aktivgrotesk, sans-serif;
  color: #111;
  font-size: 21px;
  line-height: 175%;
  font-weight: 500;
}

a {
  text-decoration: none;
}

ol {
  margin-top: 0px;
  margin-bottom: 10px;
  padding-left: 40px;
}

img {
  display: inline-block;
  max-width: 100%;
}

.body {
  color: #fff;
  font-size: 16px;
  line-height: 1.5;
}

.navbar-content {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: transparent;
}

.container {
  max-width: 1280px;
  padding-right: 80px;
  padding-left: 80px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.solution-image-mask {
  height: 490px;
  margin-right: 0px;
  margin-left: 0px;
  -o-object-fit: contain;
  object-fit: contain;
}

.work-text {
  width: 40%;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

.footer-section {
  display: block;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  font-size: 0px;
  text-align: center;
}

.footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 200px;
  max-width: 1440px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 80px;
  padding-left: 80px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: left;
}

.footer-title {
  margin-top: 0px;
  margin-bottom: 32px;
  font-family: Gtsectrafine, 'Times New Roman', sans-serif;
  color: #fff;
  font-size: 50px;
  line-height: 150%;
  font-weight: 700;
  text-align: center;
}

.footer-link {
  display: block;
  color: #fff;
  font-size: 21px;
  line-height: 30px;
  text-decoration: none;
}

.footer-link:hover {
  text-decoration: underline;
}

.menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 160px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.utility-page-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.utility-page-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 260px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
}

.utility-page-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.logo {
  margin-right: 0px;
  margin-left: 0px;
  padding: 24px 24px 24px 0px;
  -webkit-box-ordinal-group: 0;
  -webkit-order: -1;
  -ms-flex-order: -1;
  order: -1;
  color: #fff;
  font-size: 21px;
  line-height: 150%;
  font-weight: 500;
  text-align: left;
}

.intro {
  position: static;
  width: 800px;
  margin: auto;
  font-family: Gtsectrafine, 'Times New Roman', sans-serif;
  color: #111;
  font-size: 15vh;
  line-height: 250px;
  font-weight: 700;
  text-align: center;
}

.overview {
  position: static;
  max-width: none;
  clear: both;
  color: #fff;
  font-size: 24px;
  line-height: 170%;
  font-weight: 500;
}

.overview-section {
  z-index: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  background-color: #111;
}

.problem-section {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  background-color: #fff;
}

.image-full {
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.process-section {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #fff;
  color: #fff;
}

.content-container {
  max-width: 680px;
  margin-top: 80px;
  margin-bottom: 80px;
}

.framework-section {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  background-color: #f9f9f9;
}

.solution-section {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #fff;
  color: #fff;
}

.image-inside-text {
  position: static;
  width: 100%;
  max-width: 1440px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-right: 160px;
  padding-left: 160px;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

.next-p {
  position: static;
  left: 0%;
  top: auto;
  right: 0%;
  bottom: 0%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-left: 0px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
  -webkit-box-ordinal-group: 0;
  -webkit-order: -1;
  -ms-flex-order: -1;
  order: -1;
  font-family: Gtsectrafine, 'Times New Roman', sans-serif;
  color: #fff;
  font-size: 64px;
  line-height: 150%;
  font-weight: 700;
  text-decoration: none;
  white-space: normal;
}

.flex-container {
  display: block;
  padding-right: 40px;
  padding-left: 40px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.image-insights-mask {
  width: auto;
  margin-right: 80px;
}

.image-insights {
  width: 240px;
  height: 100%;
  background-color: #fff;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: 50% 50%;
  object-position: 50% 50%;
}

.insights {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 40px;
}

.insights.last {
  margin-bottom: 0px;
}

.text-insights {
  max-width: 550px;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

.quote {
  max-width: 880px;
  margin: 48px 0px 0px;
  font-family: Gtsectrafine, 'Times New Roman', sans-serif;
  color: #111;
  font-size: 40px;
  line-height: 150%;
  font-weight: 700;
  text-align: center;
  white-space: normal;
}

.results-section {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 0px;
  padding-bottom: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #f9f9f9;
  color: #fff;
}

.presentation-work {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 1260px;
  margin-top: 0px;
  margin-bottom: 80px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.solution-text {
  width: 50%;
  max-width: 50%;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  -webkit-box-ordinal-group: 0;
  -webkit-order: -1;
  -ms-flex-order: -1;
  order: -1;
}

.solution-image {
  width: 100%;
  height: 100%;
  padding-left: 0px;
  float: right;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: 50% 50%;
  object-position: 50% 50%;
}

.home-image-wrapper {
  display: block;
  width: 50%;
  height: 440px;
  clear: none;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  -webkit-box-ordinal-group: 2;
  -webkit-order: 1;
  -ms-flex-order: 1;
  order: 1;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.home-image {
  overflow: visible;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: 50% 50%;
  object-position: 50% 50%;
}

.centered-container {
  display: block;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  text-align: center;
}

.page-transition {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 9990;
  display: none;
  height: auto;
  max-height: none;
  min-height: 850px;
  margin-bottom: 0px;
  padding-top: 100px;
  padding-bottom: 100px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f9f9f9), to(#f9f9f9));
  background-image: linear-gradient(180deg, #f9f9f9, #f9f9f9);
  -o-object-fit: cover;
  object-fit: cover;
}

.luxy-el {
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 1;
  width: 100%;
  height: 100vh;
  background-image: url('../images/intro-content-lumini.png');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
  -webkit-transform-origin: 50% 0%;
  -ms-transform-origin: 50% 0%;
  transform-origin: 50% 0%;
  -o-object-fit: cover;
  object-fit: cover;
}

.work-div {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-right: auto;
  margin-bottom: 80px;
  margin-left: auto;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-ordinal-group: 2;
  -webkit-order: 1;
  -ms-flex-order: 1;
  order: 1;
}

.cursor-wrapper {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 9999;
  display: none;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.cursor-inner-circle {
  position: static;
  z-index: 9999;
  width: 50px;
  height: 50px;
  border-style: none;
  border-width: 0px;
  border-color: #000;
  border-radius: 100%;
  background-color: #fff;
  opacity: 0.95;
  color: #fff;
  background-clip: border-box;
}

.next-text {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 480px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
  -webkit-box-ordinal-group: 2;
  -webkit-order: 1;
  -ms-flex-order: 1;
  order: 1;
}

.next-title {
  display: block;
  max-width: none;
  margin-top: 0px;
  margin-bottom: 0px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  opacity: 1;
  font-family: Gtsectrafine, 'Times New Roman', sans-serif;
  color: #fff;
  font-size: 80px;
  line-height: 150%;
  font-weight: 700;
  white-space: normal;
}

.next-subtitle {
  margin-top: 24px;
  margin-bottom: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  opacity: 1;
  color: #fff;
  font-size: 24px;
  line-height: 48px;
}

.about {
  position: static;
  margin-right: 0px;
  margin-left: 0px;
  padding: 24px 0px 24px 24px;
  float: right;
  -webkit-box-ordinal-group: 2;
  -webkit-order: 1;
  -ms-flex-order: 1;
  order: 1;
  color: #fff;
  font-size: 21px;
  line-height: 150%;
  font-weight: 500;
  text-align: left;
}

.p-white {
  z-index: 25;
  margin-right: 16px;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  color: #fff;
  font-size: 21px;
  line-height: 150%;
}

.button-for-link-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 240px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.arrow-linkme {
  z-index: 20;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 42px;
  height: 42px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border: 2px solid #282828;
  border-radius: 100%;
  background-clip: border-box;
}

.arrow-icon {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 25;
  width: 15px;
  height: 12px;
  margin: auto;
}

.arrow-component {
  position: relative;
  width: 42px;
  height: 42px;
}

.next-up {
  position: relative;
  width: 100%;
  height: 320px;
}

.next-image {
  overflow: visible;
  width: 100%;
  height: 320px;
  opacity: 0.3;
  -o-object-fit: cover;
  object-fit: cover;
}

.next {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 20;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 1280px;
  margin: auto;
  padding-right: 80px;
  padding-left: 80px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.hero-image-wrapper {
  position: relative;
  overflow: hidden;
  height: auto;
  padding-top: 100vh;
  -o-object-fit: fill;
  object-fit: fill;
}

.list-item {
  margin-right: 40px;
  margin-left: 40px;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

.list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 0px;
  padding-left: 0px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  text-align: center;
}

.anim {
  width: 50%;
  max-width: 680px;
  font-size: 40px;
}

.about-image {
  overflow: visible;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: 50% 50%;
  object-position: 50% 50%;
}

.about-div {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-ordinal-group: 2;
  -webkit-order: 1;
  -ms-flex-order: 1;
  order: 1;
}

.about-text {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start;
}

.about-image-wrapper {
  display: none;
  overflow: hidden;
  width: 50%;
  height: 800px;
  clear: none;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  -webkit-box-ordinal-group: 2;
  -webkit-order: 1;
  -ms-flex-order: 1;
  order: 1;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.body-about {
  background-color: #fff;
}

.paragraph {
  width: 45%;
  line-height: 1.7;
}

.heading {
  margin-bottom: 80px;
}

.head-focused {
  width: 50%;
  max-width: 680px;
  font-size: 40px;
  line-height: 1.5;
}

.works {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.navbar-home {
  position: relative;
  width: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: transparent;
}

@media screen and (max-width: 991px) {
  h1 {
    margin-top: 0px;
    margin-bottom: 24px;
  }

  .navbar-content {
    margin-right: 0px;
    margin-left: 0px;
  }

  .work-section {
    margin-right: 0px;
    margin-left: 0px;
  }

  .container {
    padding-right: 40px;
    padding-left: 40px;
  }

  .work-text {
    width: 40%;
    -webkit-box-ordinal-group: 0;
    -webkit-order: -1;
    -ms-flex-order: -1;
    order: -1;
  }

  .footer {
    margin-bottom: 20px;
  }

  .footer-link {
    font-size: 21px;
  }

  .menu {
    height: 160px;
    max-width: none;
  }

  .intro {
    width: 100%;
  }

  .overview {
    font-weight: 500;
  }

  .overview-section {
    position: relative;
    z-index: 20;
  }

  .problem-section {
    position: relative;
    z-index: 20;
    padding-top: 0px;
    padding-bottom: 0px;
  }

  .image-full {
    position: relative;
    z-index: 20;
    height: auto;
  }

  .process-section {
    position: relative;
    z-index: 20;
  }

  .framework-section {
    position: relative;
    z-index: 20;
  }

  .solution-section {
    position: relative;
    z-index: 20;
    padding-right: 0px;
    padding-left: 0px;
  }

  .image-inside-text {
    width: 100%;
    max-width: 680px;
    padding-right: 0px;
    padding-left: 0px;
  }

  .next-p {
    margin-bottom: 16px;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    -webkit-box-ordinal-group: 0;
    -webkit-order: -1;
    -ms-flex-order: -1;
    order: -1;
    font-size: 50px;
    line-height: 150%;
    text-align: center;
  }

  .flex-container {
    max-width: 680px;
    padding-right: 0px;
    padding-left: 0px;
  }

  .presentation-work {
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
  }

  .solution-text {
    width: 53%;
    max-width: 50%;
    -webkit-box-ordinal-group: 0;
    -webkit-order: -1;
    -ms-flex-order: -1;
    order: -1;
  }

  .solution-image {
    height: 100%;
    padding-left: 0px;
  }

  .home-image-wrapper {
    width: 50%;
    height: 380px;
  }

  .home-image {
    height: 100%;
  }

  .next-text {
    max-width: 360px;
  }

  .next-title {
    margin-bottom: 0px;
    font-size: 64px;
    line-height: 60px;
  }

  .next-subtitle {
    font-size: 21px;
    line-height: 35px;
  }

  .about {
    font-size: 18px;
    line-height: 12px;
  }

  .about-section {
    margin-right: 0px;
    margin-left: 0px;
  }

  .about-image {
    height: 100%;
  }

  .about-text {
    width: 100%;
    -webkit-box-ordinal-group: 0;
    -webkit-order: -1;
    -ms-flex-order: -1;
    order: -1;
  }

  .about-image-wrapper {
    width: 45%;
    height: 380px;
  }

  .navbar-home {
    margin-right: 0px;
    margin-left: 0px;
  }
}

@media screen and (max-width: 767px) {
  h1 {
    margin-bottom: 16px;
  }

  h2 {
    max-width: 420px;
    text-align: left;
  }

  h4 {
    text-align: left;
  }

  p {
    text-align: left;
  }

  .navbar-content {
    padding-right: 0px;
    padding-left: 0px;
  }

  .container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .solution-image-mask {
    height: 400px;
    margin-right: 0px;
    margin-left: 0px;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    -webkit-box-ordinal-group: 1;
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
  }

  .work-text {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
    text-align: center;
  }

  .footer {
    padding-right: 40px;
    padding-left: 40px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .footer-title {
    font-size: 36px;
  }

  .footer-link {
    font-size: 21px;
    text-align: center;
    text-decoration: none;
  }

  .menu {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 80px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .logo {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    clear: none;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-ordinal-group: 0;
    -webkit-order: -1;
    -ms-flex-order: -1;
    order: -1;
  }

  .overview {
    margin-right: 0px;
    margin-left: 0px;
    font-size: 22px;
  }

  .image-full {
    height: auto;
  }

  .content-container {
    padding-right: 40px;
    padding-left: 40px;
  }

  .solution-section {
    padding-right: 0px;
    padding-left: 0px;
  }

  .image-inside-text {
    margin-right: 40px;
    margin-left: 40px;
    padding-right: 40px;
    padding-left: 40px;
  }

  .next-p {
    left: 0%;
    top: 0%;
    right: 0%;
    bottom: auto;
    max-width: 170px;
    margin-top: 40px;
    margin-bottom: 24px;
    margin-left: 0px;
    padding-right: 0px;
    padding-left: 0px;
    -webkit-align-self: flex-start;
    -ms-flex-item-align: start;
    align-self: flex-start;
    -webkit-box-ordinal-group: 0;
    -webkit-order: -1;
    -ms-flex-order: -1;
    order: -1;
    font-size: 36px;
    text-align: center;
  }

  .flex-container {
    padding-right: 24px;
    padding-left: 24px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .image-insights-mask {
    margin-right: 0px;
  }

  .image-insights {
    margin-right: auto;
    margin-left: auto;
    padding-right: 24px;
    padding-left: 0px;
  }

  .insights {
    margin-right: 0px;
    margin-left: 0px;
  }

  .text-insights {
    max-width: 65%;
    margin-right: 0px;
  }

  .quote {
    font-size: 24px;
  }

  .presentation-work {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .solution-text {
    width: 100%;
    max-width: 1260px;
    margin-top: 24px;
    padding-left: 0px;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
    text-align: center;
  }

  .solution-image {
    overflow: visible;
    max-width: none;
    margin-right: auto;
    margin-left: auto;
    padding-left: 0px;
    opacity: 1;
    -o-object-fit: contain;
    object-fit: contain;
  }

  .home-image-wrapper {
    width: 100%;
    height: 380px;
    margin-bottom: 40px;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    -webkit-box-ordinal-group: 0;
    -webkit-order: -1;
    -ms-flex-order: -1;
    order: -1;
  }

  .page-transition {
    padding: 40px 20px;
  }

  .luxy-el {
    height: 100%;
  }

  .work-div {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .next-text {
    left: 0%;
    top: auto;
    right: 0%;
    bottom: 0%;
    max-width: 380px;
    margin-top: 0px;
    margin-bottom: 40px;
    margin-left: 0px;
    padding-right: 0px;
    padding-left: 0px;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-align-self: flex-start;
    -ms-flex-item-align: start;
    align-self: flex-start;
  }

  .next-title {
    margin-top: 0px;
    text-align: left;
  }

  .next-subtitle {
    margin-bottom: 0px;
    font-size: 18px;
    text-align: left;
  }

  .about {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    clear: none;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
  }

  .p-white {
    text-align: left;
  }

  .button-for-link-block {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }

  .next {
    padding-left: 40px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .hero-image-wrapper {
    height: 380px;
    padding-top: 400px;
  }

  .list-item {
    margin-right: 24px;
    margin-left: 24px;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
  }

  .list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
  }

  .anim {
    width: 100%;
  }

  .about-div {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .about-text {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    max-width: 1260px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
    text-align: center;
  }

  .about-image-wrapper {
    width: 100%;
    height: 380px;
    margin-bottom: 40px;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    -webkit-box-ordinal-group: 0;
    -webkit-order: -1;
    -ms-flex-order: -1;
    order: -1;
  }

  .paragraph {
    width: 100%;
  }

  .heading {
    margin-bottom: 40px;
  }

  .head-focused {
    width: 100%;
  }
}

@media screen and (max-width: 479px) {
  h1 {
    font-size: 56px;
  }

  h2 {
    margin-bottom: 24px;
    font-size: 24px;
  }

  h3 {
    font-size: 40px;
  }

  h4 {
    font-weight: 900;
    text-align: left;
  }

  p {
    font-size: 21px;
    text-align: left;
  }

  .navbar-content {
    margin-right: 0px;
    margin-left: 0px;
    padding-right: 0px;
    padding-left: 0px;
  }

  .work-section {
    margin: 24px 0px 40px;
  }

  .container {
    padding-right: 24px;
    padding-left: 24px;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }

  .solution-image-mask {
    height: 100%;
  }

  .footer-section {
    text-align: left;
  }

  .footer {
    margin-bottom: 24px;
    padding-top: 24px;
    padding-right: 24px;
    padding-left: 24px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .footer-title {
    font-size: 34px;
  }

  .footer-link {
    margin-bottom: 0px;
    font-size: 18px;
    text-align: center;
    text-decoration: none;
  }

  .menu {
    margin-right: 0px;
    margin-left: 0px;
  }

  .logo {
    font-size: 21px;
  }

  .intro {
    font-size: 20vw;
  }

  .problem-section {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
  }

  .image-full {
    height: auto;
    line-height: 21px;
  }

  .process-section {
    padding-top: 0px;
    padding-bottom: 0px;
  }

  .content-container {
    margin-top: 40px;
    margin-bottom: 40px;
    padding-right: 24px;
    padding-left: 24px;
  }

  .framework-section {
    padding: 0px;
  }

  .solution-section {
    padding: 0px;
  }

  .image-inside-text {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-right: 24px;
    padding-left: 24px;
  }

  .next-p {
    margin-bottom: 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-align-self: flex-start;
    -ms-flex-item-align: start;
    align-self: flex-start;
    font-size: 30px;
    text-align: left;
  }

  .flex-container {
    padding-right: 24px;
    padding-left: 24px;
  }

  .insights {
    margin-right: 0px;
    margin-left: 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .text-insights {
    max-width: 100%;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
  }

  .quote {
    font-size: 18px;
  }

  .results-section {
    padding-top: 0px;
    padding-bottom: 0px;
  }

  .presentation-work {
    margin-top: 40px;
    margin-bottom: 80px;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }

  .solution-text {
    padding-left: 0px;
  }

  .solution-image {
    max-width: 250px;
    -o-object-fit: contain;
    object-fit: contain;
  }

  .home-image-wrapper {
    overflow: hidden;
    height: 300px;
    margin-bottom: 24px;
    -o-object-fit: cover;
    object-fit: cover;
  }

  .home-image {
    -o-object-fit: cover;
    object-fit: cover;
  }

  .centered-container {
    text-align: left;
  }

  .page-transition {
    height: auto;
    min-height: 400px;
  }

  .luxy-el {
    height: 100%;
  }

  .work-div {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .next-text {
    max-width: none;
    margin-top: 0px;
    margin-bottom: 40px;
    margin-left: 0px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-align-self: flex-start;
    -ms-flex-item-align: start;
    align-self: flex-start;
  }

  .next-title {
    font-size: 40px;
  }

  .next-subtitle {
    margin-top: 8px;
    font-size: 18px;
  }

  .about {
    font-size: 21px;
  }

  .p-white {
    font-size: 18px;
  }

  .next {
    padding-left: 24px;
  }

  .hero-image-wrapper {
    height: 300px;
    padding-top: 224px;
  }

  .list-item {
    margin-right: 24px;
  }

  .about-section {
    margin: 24px 0px 40px;
  }

  .about-div {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .about-text {
    padding-right: 24px;
    padding-left: 24px;
  }

  .about-image-wrapper {
    overflow: hidden;
    height: 300px;
    margin-bottom: 24px;
    padding-right: 24px;
    padding-left: 24px;
    -o-object-fit: cover;
    object-fit: cover;
  }

  .navbar-home {
    margin-right: 0px;
    margin-left: 0px;
    padding-right: 0px;
    padding-left: 0px;
  }
}

@font-face {
  font-family: 'Aktivgrotesk';
  src: url('../fonts/AktivGrotesk-Black.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Aktivgrotesk';
  src: url('../fonts/AktivGrotesk-Italic.woff2') format('woff2'), url('../fonts/AktivGrotesk-HairlineItalic.woff2') format('woff2'), url('../fonts/AktivGrotesk-HairlineItalic.woff') format('woff'), url('../fonts/AktivGrotesk-Italic.woff') format('woff');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Aktivgrotesk';
  src: url('../fonts/AktivGrotesk-Medium.woff2') format('woff2'), url('../fonts/AktivGrotesk-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Aktivgrotesk';
  src: url('../fonts/AktivGrotesk-XBold.woff2') format('woff2'), url('../fonts/AktivGrotesk-XBold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Aktivgrotesk';
  src: url('../fonts/AktivGrotesk-XBoldItalic.woff2') format('woff2'), url('../fonts/AktivGrotesk-XBoldItalic.woff') format('woff'), url('../fonts/AktivGrotesk-BoldItalic.woff') format('woff');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Aktivgrotesk';
  src: url('../fonts/AktivGrotesk-Thin.woff2') format('woff2'), url('../fonts/AktivGrotesk-Thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Aktivgrotesk';
  src: url('../fonts/AktivGrotesk-ThinItalic.woff2') format('woff2'), url('../fonts/AktivGrotesk-ThinItalic.woff') format('woff');
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Aktivgrotesk';
  src: url('../fonts/AktivGrotesk-MediumItalic.woff2') format('woff2'), url('../fonts/AktivGrotesk-MediumItalic.woff') format('woff');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Aktivgrotesk';
  src: url('../fonts/AktivGrotesk-Regular.woff2') format('woff2'), url('../fonts/AktivGrotesk-Hairline.woff2') format('woff2'), url('../fonts/AktivGrotesk-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Aktivgrotesk';
  src: url('../fonts/AktivGrotesk-LightItalic.woff2') format('woff2'), url('../fonts/AktivGrotesk-LightItalic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Aktivgrotesk';
  src: url('../fonts/AktivGrotesk-Light.woff2') format('woff2'), url('../fonts/AktivGrotesk-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Aktivgrotesk';
  src: url('../fonts/AktivGrotesk-BlackItalic.woff2') format('woff2');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Gtsectrafine';
  src: url('../fonts/GTSectraFine-Black.woff2') format('woff2'), url('../fonts/GTSectraFine-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Gtsectrafine';
  src: url('../fonts/GTSectraFine-Bold.woff2') format('woff2'), url('../fonts/GTSectraFine-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Gtsectrafine';
  src: url('../fonts/GTSectraFine-BlackItalic.woff2') format('woff2'), url('../fonts/GTSectraFine-BlackItalic.woff') format('woff');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Gtsectrafine book';
  src: url('../fonts/GTSectraFine-Book.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Gtsectrafine';
  src: url('../fonts/GTSectraFine-BookItalic.woff2') format('woff2'), url('../fonts/GTSectraFine-RegularItalic.woff2') format('woff2'), url('../fonts/GTSectraFine-BookItalic.woff') format('woff'), url('../fonts/GTSectraFine-RegularItalic.woff') format('woff');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Gtsectrafine';
  src: url('../fonts/GTSectraFine-Medium.woff2') format('woff2'), url('../fonts/GTSectraFine-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Gtsectrafine';
  src: url('../fonts/GTSectraFine-MediumItalic.woff2') format('woff2'), url('../fonts/GTSectraFine-MediumItalic.woff') format('woff');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Gtsectrafine';
  src: url('../fonts/GTSectraFine-Regular.woff2') format('woff2'), url('../fonts/GTSectraFine-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}